body {
  font-family: sans-serif;
}

.container {
  width: 1100px;
  margin: 0 auto;
}

.single-news {
  border: 1px solid #e1e1e1;
  border-radius: 10px;
  padding: 20px;
  display: block;
  transition: 0.3s;
  text-decoration: none;
  color: #4f4f4f;
}

.single-news:hover {
  border: 1px solid #909090;
}

.single-news + .single-news {
  margin-top: 20px;
}

.single-news__title {
  font-size: 20px;
  margin-bottom: 5px;
}

.single-news__date {
  font-size: 11px;
  color: #858585;
  font-style: italic;
  margin-bottom: 15px;
}

.single-news__description {
  margin-bottom: 20px;
}

.single-news__source {
  font-size: 12px;
}

.single-news__author {
  font-weight: 700;
  font-size: 14px;
}

.filter {
  padding-bottom: 40px;
}

.filter__button, 
.news-list__more-button {
  border: 1px solid #424242;
  color: #424242;
  background-color: #ffffff;
  transition: 0.3s;
  font-size: 16px;
  padding: 10px 35px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  text-align: center;
}

.filter__button:before, 
.news-list__more-button:before {
  content: '';
  display: block;
  background-color: #424242;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translateX(-100%);
  transition: 0.3s;
}

.filter__button:hover, 
.news-list__more-button:hover {
  color: #ffffff;
}

.filter__button:hover:before, 
.news-list__more-button:hover:before {
  transform: translateX(0);
}

.filter__button-text, 
.news-list__more-button-text {
  position: relative;
  z-index: 1;
}

.filter__sources + .filter__button {
  margin-left: 20px;
}

.filter__sources {
  display: inline-block;
}

.filter__select {
  border: 1px solid #424242;
  padding: 9px 5px;
  font-size: 16px;
  transition: 0.3s;
  cursor: pointer;
}

.filter__select:hover {
  border: 1px solid #e1e1e1;
}

.news-list {
  position: relative;
}

.loader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(256, 256, 256, 0.6);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}

.loader__active {
  opacity: 1;
  visibility: visible;
}

.preview-text {
  margin-top: 20px;
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 15px;
}

.copyright {
  padding-top: 20px;
  text-align: center;
}

.copyright a {
  color: #424242;
}

.copyright a:hover {
  text-decoration: none;
}

.news-list__more {
  padding-top: 20px;
  text-align: center;
}

.news-list__more-button {
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}

.news-list__more-button_active {
  opacity: 1;
  visibility: visible;
}

@media (max-width: 1200px) {
  .container {
    width: 860px;
  }
}

@media (max-width: 900px) {
  .container {
    width: 90%;
  }
}

@media (max-width: 600px) {
  .filter__button {
    width: 100%;
  }
  
  .filter__sources + .filter__button {
    margin-left: 0px;
  }
  
  .filter__select {
    width: 100%;
    margin-bottom: 15px;
  }
  
  .filter__sources {
    display: block;
  }
}
