.loader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(256, 256, 256, 0.6);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  
  &__active {
    opacity: 1;
    visibility: visible;
  }
}