html
  head
    title= title
  body
    | Authentication form
    <br>
    <br>
    form(action="/user/auth" method="post")
      | Login
      <br>
      input(type="text" name="name")
      br
      | Password
      <br>
      input(type="password" name="pass")
      br
      input(type="submit" value="send")
      
    | If you don't have account, please, register 
    a(href="/user/reg") here</>