.single-news {
  border: 1px solid #e1e1e1;
  border-radius: 10px;
  padding: 20px;
  display: block;
  transition: 0.3s;
  text-decoration: none;
  color: #4f4f4f;
  
  &:hover {
    border: 1px solid #909090;
  }
  
  & + .single-news {
    margin-top: 20px;
  }
  
  &__title {
    font-size: 20px;
    margin-bottom: 5px;
  }
  
  &__date {
    font-size: 11px;
    color: #858585;
    font-style: italic;
    margin-bottom: 15px;
  }
  
  &__description {
    margin-bottom: 20px;
  }
  
  &__source {
    font-size: 12px;
  }
  
  &__author {
    font-weight: 700;
    font-size: 14px;
  }
}